{{#partial "content"}}


      {{#if editSquad}}
         <h1>Edit this Squad!</h1>
         <form action="/squads/{{editSquad.id}}/update" method="post">
             <label for="name">Edit this hero's name</label>
             <input id="name" name="name" type="text" value="{{editSquad.name}}"><br>
<label for="maxSize">Edit this squad's maxSize</label>
             <input id="maxSize" name="maxSize" type="text" value="{{editSquad.maxSize}}"><br>
<label for="cause">Edit this squad's cause</label>
             <input id="cause" name="cause" type="text" value="{{editSquad.cause}}"><br>

       {{else}}

   <h1>Add a new Squad!</h1>

   <form action="/squads/new" method="post">
       <label for="name">Squad's name</label>
       <input id="name" name="name" type="text"><br>
       <label for="maxSize">Squad's maxSize</label>
       <input id="maxSize" name="maxSize" type="text"><br>
       <label for="cause">Squad's cause</label>
       <input id="cause" name="cause" type="text"><br>
{{/if}}
       <button type="submit" class="btn btn-default">Add Squad</button>
   </form>
<style>
   input[type=text]{
       border: none;
       border-bottom: 2px solid;
       background: transparent;
       outline: none;
       height: 40px;
       color: purple;
   }
   </style>
{{/partial}}

{{> layout.hbs}}